/*==================================
  Top
==================================*/
#Top main {
  .sect_1{
    // margin-top: 80px;
    .wrapper{
      position: relative;
      figure{
        position: relative;
        overflow: hidden;
        .cloud_1{
          position: absolute;
          top: 22%;
          left: 50%;
          transform: translate(-50%, 0);
          width: 90%;
          animation-name: cloud_anim;
          animation-duration: 40s;
          animation-iteration-count: infinite;
        }
        .cloud_2{
          position: absolute;
          top: 26%;
          left: 50%;
          transform: translate(-50%, 0);
          width: 60%;
          animation-name: cloud_anim;
          animation-duration: 40s;
          animation-iteration-count: infinite;
          animation-delay: 4s;
        }
        @keyframes cloud_anim {
          0% {
            left: 50%;
          }
          50% {
            left: 0%;
          }
          100%{
            left: 100%;
          }
        }
      }
      .container{
        max-width: 85%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding-top: 120px;
        .img_logo{
          // width: 253px;
          width: 18.071vw;
          display: block;
          margin: 0 auto;
          opacity: 0;
          transition: .3s ease-in-out;
          &.show{
            opacity: 1;
          }
        }
        p{
          @include Kinuta_Marumin_Yoshino();
          // font-size: 24px;
          font-size: 1.714vw;
          letter-spacing: .08em;
          text-align: center;
          margin-top: 43px;
          opacity: 0;
          transition: .3s ease-in-out;
          transition-delay: .3s;
          &.show{
            opacity: 1;
            -webkit-animation: shake-vertical 1.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	          animation: shake-vertical 1.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
          }
        }
        h3{
          @include Kinuta_Marumin_Yoshino();
          // font-size: 40px;
          font-size: 2.857vw;
          letter-spacing: .08em;
          text-align: center;
          margin-top: 11px;
          opacity: 0;
          transition: .3s ease-in-out;
          transition-delay: .35s;
          &.show{
            opacity: 1;
            -webkit-animation: shake-vertical 1.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	          animation: shake-vertical 1.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
          }
        }
        .img_border{
          // width: 541px;
          width: 38.643vw;
          display: block;
          margin: 6px auto 23px;
          opacity: 0;
          transition: .3s ease-in-out;
          transition-delay: .4s;
          &.show{
            opacity: 1;
          }
        }
        .img_1{
          // width: 716px;
          width: 51.143vw;
          display: block;
          margin:  0 auto;
        }
        .img_2{
          // width: 563px;
          width: 55vw;
          display: block;
          margin:  15px auto 0;
        }
        .fgr_1{
          opacity: 0;
          transition: .3s ease-in-out;
          transition-delay: .6s;
          &.show{
            opacity: 1;
          }
        }
        .fgr_2{
          opacity: 0;
          transition: .3s ease-in-out;
          transition-delay: .6s;
          &.show{
            opacity: 1;
          }
        }
      }
    }
  }

  .sect_2{
    background-image: url(/images/top/sect_2/bg_img.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -330px;
    position: relative;
    z-index: 1;
    .wrapper{
      position: relative;
      padding-top: 130px;
      padding-bottom: 200px;
      .flower_1{
        max-width: 295px;
        position: absolute;
        top: -90px;
        left: 0;
      }
      .flower_2{
        max-width: 327px;
        position: absolute;
        top: -130px;
        right: 0;
      }
      .container{
        .schedule{
          max-width: 754px;
          margin: 0 auto 20px;
          background-color: #f2e7d6;
          border-radius: 10px;
          padding: 22px 0 16px;
          p{
            @include Kinuta_Mincho(700);
            font-size: 20px;
            color: #403935;
            text-align: center;
            span{
              font-size: 18px;
              color: #403935;
            }
          }
        }
        .sns{
          max-width: 754px;
          margin: 0 auto 80px;
          background-color: #fff;
          border-radius: 10px;
          padding: 18px 0 18px;
          p{
            font-weight: 700;
            font-size: 20px;
            color: #403935;
            text-align: center;
            a{
              &:first-child{
                margin-left: 12px;
                img{
                  width: 32px;
                }
              }
              &:last-child{
                margin-left: 17px;
                img{
                  width: 31px;
                }
              }
            }
          }
        }
        .desc{
          border: 1px solid #cabaa4;
          border-radius: 20px;
          margin-top: 50px;
          padding: 32px 20px 35px;
          p{
            font-size: 22px;
            line-height: 33px;
            text-align: center;
          }
        }
        .park-wrap{
          margin-top: 50px;
          .item{
            background-color: #fff;
            border-radius: 20px;
            padding: 30px 50px;
            
            &:not(:last-child){
              margin-bottom: 115px;
            }
            .row{
              margin-bottom: 15px;
              &.row-reverse{
                flex-direction: row-reverse;
                .col{
                  &:first-child{
                    padding: 20px 0 20px 30px;
                    border-left: 1px solid #f7efe9;
                    border-right: none;
                  }
                  &:last-child{
                    padding-left: 0;
                    padding-right: 45px;
                  }
                }
              }
              .col{
                &:first-child{
                  width: calc(100% - 320px);
                  padding: 20px 30px 20px 0;
                  border-right: 1px solid #f7efe9;
                  h3{
                    font-weight: 700;
                    font-size: 28px;
                    color: #e3687c;
                    margin-bottom: 25px;
                    letter-spacing: .08em;
                  }
                  p{
                    line-height: 28.8px;
                  }
                }
                &:last-child{
                  width: 320px;
                  padding-left: 45px;
                  h4{
                    font-size: 24px;
                    line-height: 28.8px;
                    padding: 60px 0 70px;
                    span{
                      display: block;
                      font-size: 14px;
                      margin-bottom: 5px;
                    }
                  }
                  .float_wrap{
                    p{
                      font-size: 14px;
                      line-height: 21px;
                      
                    }
                    figure{
                      width: 130px;
                      float: right;
                      margin-top: -170px;
                    }
                  }                
                }
              }
            }
            .btm_img{
              max-width: 910px;
              margin: 0 auto -80px;
              &.itm_2{
                margin: 0 auto -23px;
              }
              &.itm_3{
                max-width: 1090px;
                margin: -30px auto -65px;
              }
            }
          }
        }
      }
    }
  }

  .sect_3{
    background-image: url(/images/top/sect_3/bg_img.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -70px;
    position: relative;
    z-index: 2;
    .wrapper{
      padding-top: 170px;
      padding-bottom: 170px;
      .container{
        .c-heading-01{
          position: relative;
          color: #155f00;
          img{
            width: 200px;
            position: absolute;
            top: 15%;
            transform: translate(-230px, -50%);
          }
        }
        .sub_head{
          text-align: center;
          line-height: 24px;
          margin-top: 45px;
        }
        h6{
          padding-top: 26px;
          text-align: center;
          color: #000;
          span{
            background-color: #fff;
            border-radius: 5px;
            display: inline-block;
            padding: 13px 55px;
            color: #000;
          }
        }
        .map{
          position: relative;
          margin-top: -30px;
          margin-bottom: 50px;
          .cloud_img{
            width: 40%;
            position: absolute;
            top: 17%;
            left: 5%;
          }
          p{
            position: absolute;
            bottom: 0;
            right: 0;
            font-size: 14px;
          }
        }
        .row{
          justify-content: space-between;
          .col{
            width: 31.67%;
            background-color: #fff;
            border-radius: 20px;
            padding: 30px 30px 40px;
            &:nth-child(3){
              padding: 30px 30px 30px;
            }
            &:nth-child(4){
              margin-left: auto;
              margin-top: 30px;
              margin-right: 14px;
              h5{
                padding-top: 27px;
                padding-bottom: 30px;
              }
            }
            &:nth-child(5){
              margin-right: auto;
              margin-top: 30px;
              margin-left: 14px;
              h5{
                padding-bottom: 13px;
              }
            }
            h3{
              font-weight: 700;
              font-size: 24px;
              color: #fff;
              text-align: center;
              letter-spacing: .08em;
              border-radius: 25px;
              padding: 10px 0 10px;
              &.clr_1{
                background-color: #a45f39;
              }
              &.clr_2{
                background-color: #549b35;
              }
              &.clr_3{
                background-color: #a76293;
              }
              &.clr_4{
                background-color: #c8658f;
              }
              &.clr_5{
                background-color: #035897;
              }
            }
            h5{
              font-weight: 700;
              font-size: 20px;
              text-align: center;
              line-height: 26px;
              padding-top: 18px;
              padding-bottom: 21px;
              @include is-max(1260px){
                font-size: 18px;
              }
              &.clr_1{
                color: #a45f39;
              }
              &.clr_2{
                color: #549b35;
              }
              &.clr_3{
                color: #a76293;
              }
              &.clr_4{
                color: #c8658f;
              }
              &.clr_5{
                color: #035897;
              }
            }
            p{
              text-align: left;
              line-height: 24px;
              margin-top: 0;
              .asterisk{
                font-size: 10px;
                display: unset;
                position: relative;
                top: -5px;
              }
              span{
                display: block;
                font-size: 14px;
                line-height: 18.2px;
                margin-top: 12px;
              }
            }
            .bdr_top{
              border-top: 1px solid #e6e6e6;
              margin-top: 30px;
              padding-top: 26px;
              .dot_bfr{
                position: relative;
                &:not(:last-child){
                  margin-bottom: 20px;
                }
                &.clr_1{
                  &::before{
                    background-color: #a45f39;
                  }
                }
                &.clr_4{
                  &::before{
                    background-color: #c8658f;
                  }
                }
                &.clr_5{
                  &::before{
                    background-color: #035897;
                  }
                }
                &::before{
                  content: "";
                  display: block;
                  width: 11px;
                  height: 11px;
                  background-color: #c8658f;
                  border-radius: 50%;
                  position: absolute;
                  top: 7px;
                  left: 0;
                }
              }
              p{
                span{
                  display: block;
                  font-size: 14px;
                  line-height: 18.2px;
                  margin-top: unset;
                  text-indent: -15px;
                  margin-left: 15px;
                }
              }
            }
          }
        }
        .desc{
          max-width: 960px;
          margin: 70px auto 0;
          background-color: #fff6ec;
          padding: 23px 40px 23px;
          p{
            font-size: 14px;
            line-height: 21px;
            text-indent: -8px;
            margin-left: 8px;
          }
        }
      }
    }
  }

  .sect_4{
    background-image: url(/images/top/sect_4/bg_img.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -70px;
    position: relative;
    z-index: 3;
    .wrapper{
      padding-top: 190px;
      padding-bottom: 170px;
      .container{
        .c-heading-01{
          position: relative;
          .petal_img{
            width: 120px;
            position: absolute;
            top: 28%;
            transform: translate(-165px, -50%);
          }
          .flower_img{
            width: 223px;
            position: absolute;
            top: 20%;
            transform: translate(54px, -50%);
          }
        }
        .site_wrap{
          background-image: url(/images/top/sect_4/site_bg_img.png);
          background-size: 100% 100%;
          background-repeat: no-repeat;
          max-width: 960px;
          margin: 50px auto 0;
          padding: 10px;
          .row{
            .col{
              &:first-child{
                background-image: url(/images/top/sect_4/site_bg_img_2.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                width: 25%;
                display: flex;
                align-items: center;
                justify-content: center;
                h3{
                  font-weight: 500;
                  font-size: 32px;
                  color: #fff;
                }
              }
              &:last-child{
                width: 75%;
                padding: 25px 30px 26px;
                p{
                  line-height: 24px;
                  letter-spacing: -.5px;
                }
                ul{
                  display: flex;
                  align-items: center;
                  background-color: #fff;
                  border-radius: 5px;
                  padding: 10px 0;
                  margin-top: 16px;
                  li{
                    
                    &:first-child{
                      width: 53%;
                      border-right: 1px solid #d4eff1;
                    }
                    &:last-child{
                      width: 47%;
                      text-align: center;
                    }
                    .tel_wrap{
                      text-align: center;
                      span{
                        @include Shippori_Mincho_B1(400);
                        font-size: 13.84px;
                        letter-spacing: .5em;
                        color: #255900;
                        line-height: 1;
                        position: relative;
                        right: -42px;
                      }
                      a{
                        display: block;
                        font-size: 36px;
                        color: #255900;
                        line-height: 1;
                        letter-spacing: .05em;
                        margin-top: -9px;
                        img{
                          width: 28px;
                          margin-right: 9px;
                        }
                      }
                      p{
                        @include Kinuta_Mincho(700);
                        font-size: 12px;
                        color: #235700;
                        position: relative;
                        left: 18px;
                      }
                    }
                    .inquiry_form{
                      &:hover{
                        opacity: .7;
                      }
                      img{
                        width: 27px;
                        position: relative;
                        top: -5px;
                        margin-right: 9px;
                      }
                      font-size: 20px;
                      color: #235700;
                    }
                  }
                }
              }
            }
          }
        }
        h5{
          position: relative;
          text-align: center;
          font-size: 28px;
          margin-top: 80px;
          margin-bottom: 55px;
          img{
            position: absolute;
            top:55%;
            left: 0;
            transform: translate(0, -50%);
            width: 42%;
            &:nth-of-type(2){
              left: unset;
              right: 0;
            }
          }
        }
        .contract_wrap{
          max-width: 1060px;
          margin: 0 auto;
          .row{
            &.row_1{
              .col{
                &:first-child{
                  width: 50%;
                } 
                &:last-child{
                  width: 50%;
                  .img_1{
                    width: 206px;
                    position: absolute;
                    top: 65%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 2;
                  }
                  .img_2{
                    width: 237px;
                    position: relative;
                    top: 120px;
                    left: 38px;
                    z-index: 1;
                  }
                }
              }
            }
            &.row_2{
              flex-direction: row-reverse;
              margin-top: 60px;
              .col{
                &:first-child{
                  width: 53%;
                } 
                &:last-child{
                  width: 47%;
                  .img_1{
                    width: 154px;
                    position: absolute;
                    top: 65%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 2;
                    @include is-max(1050px){
                      left: 40%;
                    }
                  }
                  .img_2{
                    width: 348px;
                    position: relative;
                    top: 49px;
                    left: 128px;
                    z-index: 1;
                    @include is-max(1050px){
                      left: 50px;
                    }
                  }
                }
              }
            }
            &.row_3{
              margin-top: 55px;
              .col{
                &:first-child{
                  width: 50%;
                  p{
                    span{
                      margin-left: 15px;
                      text-indent: -15px;
                    }
                  }
                } 
                &:last-child{
                  width: 50%;
                  .img_1{
                    width: 294px;
                    position: absolute;
                    top: 65%;
                    left: 50%;
                    transform: translate(-38%, -50%);
                    z-index: 2;
                  }
                  .img_2{
                    width: 332px;
                    position: relative;
                    top: 85px;
                    left: 38px;
                    z-index: 1;
                  }
                }
              }
            }
            &.row_4{
              flex-direction: row-reverse;
              margin-top: 60px;
              .col{
                &:first-child{
                  width: 53%;
                  p{
                    letter-spacing: -1px;
                  }
                } 
                &:last-child{
                  width: 47%;
                  .img_1{
                    width: 362px;
                  }
                }
              }
            }
            .col{
              h6{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: 28px;
                margin-bottom: 17px;
                .num{
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-radius: 50px;
                  width: 42.42px;
                  height: 42.42px;
                  background-color: #e3687c;
                  font-size: 26px;
                  color: #fff;
                  margin-right: 15px;
                }
              }
              p{
                line-height: 24px;
                
                &.txt_indent{
                  text-indent: -15px;
                  margin-left: 15px;
                }
                span{
                  display: block;
                  margin-left: 15px;
                  &.txt_indent{
                    text-indent: -15px;
                    margin-left: 15px;
                  }
                }
              }
              .bring{
                display: inline-block;
                background-color: #fff;
                padding: 5px 15px 6px;
                border-radius: 5px;
                margin: 15px 0 5px;
              }
            }
          }
          
        }
      }
    }
  }
  
  .sect_5{
    background-image: url(/images/top/sect_5/bg_img.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -70px;
    position: relative;
    z-index: 4;
    .wrapper{
      padding-top: 190px;
      padding-bottom: 170px;
      .container{
        .c-heading-01{
          position: relative;
          span{
            @include Kinuta_Marumin_Yoshino();
            font-size: 40px;
          }
          .insect_img{
            width: 66px;
            position: absolute;
            top: -27%;
            transform: translate(-92px, -50%);
          }
          .ducks_img{
            width: 342px;
            position: absolute;
            top: 20%;
            transform: translate(54px, -50%);

            @include is-max(950px){
              transform: translate(20px, -50%);
            }
          }
        }
        figure{
          width: 860px;
          margin: 50px auto;
        }
      }
    }
  }

  .sect_6{
    background-image: url(/images/top/sect_6/bg_img.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -70px;
    position: relative;
    z-index: 5;
    .wrapper{
      padding-top: 190px;
      // padding-bottom: 500px;
      .container{
        .c-heading-01{
          position: relative;
          .butterfly_img{
            width: 45px;
            position: absolute;
            top: -27%;
            transform: translate(-92px, -50%);
          }
          .tree_img{
            width: 182px;
            position: absolute;
            top: 20%;
            transform: translate(150px, -50%);
          }
        }
        p{
          text-align: center;
          margin: 44px 0 35px;
        }
        
      }
      iframe{
        height: 550px;
      }
    }
  }
} 
